---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
import HeroSlideshow from "../components/HeroSlideshow.astro";
import InstagramLink from "../components/InstagramLink.astro";
import HeroName from "../components/HeroName.astro";
---

<BaseLayout title="Portfolio - Interior & Architectural Photography">
  <main class="homepage">
    <Navigation />
    <HeroName />
    <HeroSlideshow />
    <!-- <InstagramLink /> -->
  </main>
</BaseLayout>

<style>
  .homepage {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
</style>
