---
// Hero Name
---

<section class="hero-name">
  <img src="/hero-name-white.png" alt="hero-name" />
</section>

<style>
  .hero-name {
    position: fixed;
    top: 2rem;
    left: 3rem;
    z-index: 900;
    font-size: 5vw;
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 600px) {
    .hero-name {
      max-width: 150px; /* Ajusta este valor según lo que necesites */
      left: 2rem;
    }
  }
</style>
