---
// Instagram button link
---

<section class="instagram-link">
  <a
    href="https://www.instagram.com/_apo______/"
    target="_blank"
    rel="noopener noreferrer"
  >
    @_apo______
  </a>
</section>

<style>
  .instagram-link {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 1000;
    font-size: 5vw;
  }
</style>
